.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
  margin-right: 49px;
  margin-left: 51px;
  margin-bottom: 86px;
}

.header-menu-list {
  font-family: Raleway, sans-serif;
  list-style: circle;
  display: flex;
  gap: 32px;
  padding: 0;
}


.header-menu-item {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header-menu-item-no-bullit {
  list-style: none;
  border: none;
}

.header-menu-item-focused {
  border: none;
}

.header-logo {
  width: 148px;
  height: 105px;
  margin: auto;

}

.header-adress {
  font-family: Raleway, sans-serif;
  list-style: none;
  font-style: normal;
  max-width: 240px;
}

.header-adress-margin-logo {
  display: flex;
  min-width: 743px;
  justify-content: space-between;  
  align-items: center;
}

.header-adress-item {
  border-bottom: 1px solid;
  text-decoration: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  max-width: 1440px;
  min-height: 757px;
  background-position: center;
  position: relative;
}

.cover-title {
  position: relative;
  color: white;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 165px 50px 0;
  width: 100%;
}

.aligned-text {
  display: flex;
  line-height: 115%;
  padding-top: 20px;
}

.aligned-text:first-child {
  padding: 0;
}

.aligned-text-center {
  justify-content: center;
  line-height: 100%;
}

.aligned-text-right {
  justify-content: flex-end;
  line-height: 100%;
}

.letter-spacing {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover-description {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 135px;
}

.cover-description-text {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  word-spacing: 18px;
}

.bet-button {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
  margin: 0 50px 0 78px;
}

.lots {
  margin: 180px 50px 0;
}

.lots-heading {
  display: flex;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}

.lots-card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots-card-link {
  display: flex;
  min-height: 450px;
  width: 430px;
  flex-grow: 1;
}

.card {
  display: flex;
  align-content: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  padding: 50px 40px;
  justify-content: space-between;
  position: relative;
}

.card-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.card-text {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #ffffff;
  position: relative;
}

.lots-look-more-link {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border-bottom: 1px solid;
  margin-top: 30px;
  margin-left: 40px;
}

.about {
  display: grid;
  margin: 181px 50px 0;
  grid-template-columns: 430px;
  grid-template-rows: auto;
  justify-items: center;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-column {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  margin-left: 25px;
}

.about-title {
  display: grid;
  font-family: Raleway, sans-serif;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about-text {
  font-family: Raleway, sans-serif;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.about-text:last-child {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 180px 50px 90px;
}

.footer-adress {
  list-style: none;
  font-style: normal;
  max-width: 240px;
}

.footer-adress-item {
  border-bottom: 1px solid;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  line-height: normal;
}

.footer-menu-item {
  border-bottom: 1px solid;
}

.footer-menu-item-focused {
  border: none;
}

.footer-social {
  display: flex;
  width: 240px;
  justify-content: space-between;
}

.footer-menu-item-size {
  width: 48px;
  height: 48px;
}
